body {
    overflow:hidden;
}
canvas{
   margin-top: 2%;
}
h3{
   text-align: center;
   margin: 0;
}
h6{
   font-size: 20px;
}
p{
   text-align: justify;
}

#panel{
   min-height: 89.55vh;
   padding: 20px;
}
#content{
   min-height: 89.55vh;
}
.canvas-container {
   width: 100%;
   text-align:center;   
}
.r{
   padding-bottom: 10px;
}
.rl{
   padding: 2.5px 10px 0px 10px;
}
.rl-1{
   margin: 0px 20px 10px 20px;
   padding: 10px 10px 10px 10px;
}